//Tipography 
$main_font: 'Montserrat', sans-serif;

//Colors
$negro:#191717 ;
$transparente_Oscuro: #010101c6;
$blanco: #fefe;
$trans_blanco: rgba(255, 238, 255, 0.453);
$morado: #6F4059;
$morado_trans: #6f4059aa;
$purpura_Claro: #8A7999;
$Oscuro:#21182B;
$trans_Oscuro:#21182ba2;
$rojo:#900c3f92 ;
$trans_rojo:#87072b92 ;
$mostaza: #e9a02bd5; 
$mostaza_claro:#D1A021;

// Tamaños de media Queries
$mobil: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
